.material-icons.MuiIcon-fontSizeMedium {
    display: none;
  }
  
  .MuiBox-root.css-pqlpsc {
    height: calc(100% - 63px);
  }
  
  div[id^="comments-"] > div:nth-of-type(2) {
    overflow-y: hidden;
  }
  