/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
}

main {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: calc(100vh - 60px);
  min-height: 0 !important;
  margin-top: 60px;
}

.haAclf {
  width: 100%;
}

.S9gUrf-YoZ4jf {
  width: 100%;
}

.S9gUrf-YoZ4jf iframe {
  width: 100% !important;
  margin: 0 !important;
}

.S9gUrf-YoZ4jf iframe .haAclf {
  width: 100% !important;
  padding: 0;
}
